#!/usr/bin/make -f

export CGO_ENABLED=1

%:
	dh $@

override_dh_auto_build:
	$(MAKE) build VERSION=$$(dpkg-parsechangelog -SVersion | sed 's/-.*//')

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/clambhook PREFIX=/usr
